* {
  box-sizing: border-box;
  font-size: 20px;
}

html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.indigo.lighten-5 {
	height: 100%;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 25px;
  border: 2px;
  background-color: white;
}

#question {
	font-size: 60;
}

.answer {
	padding: 15px;
	border: 2px solid grey;
	border-radius: 5px;
	background-color: white
}

.answer:hover {
	cursor: pointer;
	background-color: grey;
}

button, input {
	background-color: #ffb300;
	padding: 10px;
	border-radius: 5px;	
	border: none;
}